:root {
	--main-radius: 10px;
	--main-padding: 10px;
	--background-color: #352d4d;
	--accent-color: #6d6192;
	--light-accent-color: #92e0a9;
	--info-color: #69b0c1;
}

/* FUENTES  */
.archivo-texto {
	font-family: "Archivo", sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
	font-variation-settings: "wdth" 100;
}
.archivo-heading {
	font-family: "Archivo", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	font-variation-settings: "wdth" 100;
	text-transform: uppercase;
}
.amatic-sc-regular {
	font-family: "Amatic SC", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.amatic-sc-bold {
	font-family: "Amatic SC", sans-serif;
	font-weight: 700;
	font-style: normal;
}

/*ESTILOS GENERALES*/
body {
	background-image: url("./assets/paw@1x-1.0s-1084px-322px.svg");
	background-repeat: repeat;
	background-size: auto;
	background-position: center;
	background-color: var(
		--background-color
	); /* esto es en el caso de que no cargue el pattern por algun motivo como en GH Pages */
	margin: 0;
	padding: 0;
	font-family: "Archivo", sans-serif;
}

.container {
	display: grid;
	height: 100vh;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 0.8fr 0.8fr 1fr 1fr 1fr;

	grid-template-areas:
		" . . . . . . "
		" . titulo titulo titulo titulo . "
		" . info info info info . "
		" .  calculadora resultado resultado misperros-container . "
		" .  calculadora resultado resultado misperros-container . "
		" . . . . . . ";
	column-gap: 0.5rem;
	row-gap: 0.5rem;
	text-align: center;
}

.titulo {
	background-color: var(--light-accent-color);
	grid-area: titulo;
	display: flex;
	flex-direction: column;
	border-radius: var(--main-radius);
	padding: var(--main-padding);
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
	box-shadow: 5px 5px 10px;
}

h1 {
	margin: 0;
}

h4 {
	margin: 0;
}

.info {
	background-color: var(--info-color);
	grid-area: info;
	border-radius: var(--main-radius);
	padding: var(--main-padding);
	text-align: left;
	font-size: small;
	box-shadow: 5px 5px 10px;
}

.calculadora {
	background-color: var(--accent-color);
	grid-area: calculadora;
	border-radius: var(--main-radius);
	padding: var(--main-padding);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	/* font-size: small; */
	box-shadow: 5px 5px 10px;
}

.calculadora form {
	display: flex;
	flex-direction: column;
	width: 80%;
	align-items: center;
	font-size: small;
}

.calculadora h3 {
	position: sticky;
	top: 0;
	background-color: var(--accent-color);
	padding: var(--main-padding);
	z-index: 1;
	margin: 0;
}
.calculadora p {
	margin: 0px;
	padding: var(--main-padding);
}

.calculadora button {
	padding: 5px;
	border-radius: 5px;
	border: none;
	font-size: smaller;
	box-sizing: border-box;
	background-color: var(--light-accent-color);
	color: #333;
	cursor: pointer;
	transition: background-color 0.3s;
}

.calculadora button:hover {
	background-color: var(--light-accent-color);
}

.resultado {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--accent-color);
	grid-area: resultado;
	border-radius: var(--main-radius);
	padding: var(--main-padding);
	box-shadow: 5px 5px 10px;
}

.resultado h3 {
	/* font-size: medium; */
	margin: 0;
}
.resultado p {
	display: block;
	margin: 0;
}
.resultado p:first-of-type {
	display: inline;
	margin-top: 0.5rem;
}
.resultado ul {
	list-style-type: none;
	padding: 0;
}
#misperros-container {
	background-color: var(--accent-color);
	grid-area: misperros-container;
	display: flex;
	flex-direction: column;
	border-radius: var(--main-radius);
	padding: var(--main-padding);
	box-shadow: 5px 5px 10px;
	overflow-y: auto;
}

#misperros-container h3 {
	position: sticky;
	top: 0;
	background-color: var(--accent-color);
	padding: var(--main-padding);
	z-index: 1;
	margin: 0;
}

#misperros {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: center;
	align-items: flex-start;
}

.avatar-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80px;
}

.avatar {
	width: 50px;
	height: 50px;
	margin-bottom: 10px;
}

.avatar img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	cursor: pointer;
}
.avatar-name {
	text-align: center;
	display: block;
	margin-bottom: 5px;
	font-size: smaller;
}

.delete-button {
	padding: 5px;
	border-radius: 5px;
	border: none;
	font-size: smaller;
	box-sizing: border-box;
	background-color: var(--light-accent-color);
	color: #333;
	cursor: pointer;
	transition: background-color 0.3s;
}

.delete-button:hover {
	background-color: var(--light-accent-color);
}
footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding: 10px 0;
	font-size: 16px;
	color: var(--main-color);
	text-decoration: underline;
	text-shadow: 0px 0px 6px var(--light-accent-color);
}

/* MOBILE (NECESITA MEJORAS) */
@media only screen and (max-width: 768px) {
	.container {
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-template-areas:
			"titulo"
			"info"
			"calculadora"
			"misperros"
			"resultado";
		margin: 20px;
	}

	#misperros-container {
		flex-direction: row;
		justify-content: space-evenly;
		border-radius: var(--main-radius);
		padding: var(--main-padding);
	}

	#misperros-container h3 {
		font-size: smaller;
	}
}
